[[source]]
name = "pypi"
url = "https://pypi.tuna.tsinghua.edu.cn/simple"
verify_ssl = true

[dev-packages]

[packages]
captcha = "==0.2.1"
pillow = "==4.0.0"
tensorflow = "==1.8.0"

[requires]
python_version = "3.6"
